.category {
    padding: 50px 0px;
    position: relative;
    background-image: url(../img/category.jpg);
    .category-slider {
        padding: 0px 110px;
        .slider-icon {
            text-align: center;
            a {
                text-decoration: none;
                color: white;
                img{
                    font-size: 30px;
                    width: 80px;
                    height: 80px;
                    line-height: 80px;
                    text-align: center;
                    border: 1.5px solid white;
                    border-radius: 50%;
                    transition: 0.4s ease;
                    &:hover{
                        background-color: $primarycolor;
                        transition: 0.4s ease;
                    }
                }
            }
        }
        .slider-name {
            text-align: center;
            text-decoration: none;
            margin-top: 10px;
            a {
                text-decoration: none;
                font-size: 20px;
                color: white;
                font-weight: bold;
            }
        }
    }
    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        background-color: #000;
        opacity: 0.8;
    }

 .owl-next{
        content: "";
        top: 20%;
        right: 40px;
    }
.owl-prev{
        content: "";
        top: 20%;
        left: 40px;
   
    }

}